pre code {
  font-size: 0.9em;
}

.highlighter-rouge {
  margin-bottom: 1.75rem;
  margin-top: 1.75rem;
  overflow: hidden;
  border-radius: 4px;
}

.main-content {
  position: relative;
  max-width: 900px;
}